 <section id="Testymonials"  class=" " >
    <div  class=" container pt-3 justify-content-center">
        
    <div class="h2-style  position-relative w-50 m-auto  ">
      <h2 class="text-center p-">Testymonials</h2>
         <div class="line line1 position-absolute "></div>
         <div class="line line2 position-absolute "></div>
         <div class="line line3 position-absolute "></div>
         <div class="line line4 position-absolute "></div>
    </div>

    <div class="row  justify-content-center gy-lg-4 mt-lg-5">
        <div class="col-md-6">
            <div class="item d-flex align-items-start p-3 p-lg-4 my-2 ">
                <div class="item-img  mx-2 "><img src="../../assets/images/Ellipse1.png"  class=" rounded-circle "> </div>
                <div class="item-content "> 
                    <h5> Courtney Henry </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                         when an unknown printer took a galley of type and scrambled it
                          to make a type specimen book
                    </p>
                    <div class="item-icons">
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                    </div>
                    
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="item d-flex align-items-start p-3 p-lg-4 my-2">
                <div class="item-img  mx-2 "><img src="../../assets/images/Ellipse1.png"  class=" rounded-circle "> </div>
                <div class="item-content "> 
                    <h5> Courtney Henry </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                         when an unknown printer took a galley of type and scrambled it
                          to make a type specimen book
                    </p>
                    <div class="item-icons">
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                    </div>
                    
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="item d-flex align-items-start p-3 p-lg-4 my-2">
                <div class="item-img  mx-2 "><img src="../../assets/images/Ellipse1.png"  class=" rounded-circle "> </div>
                <div class="item-content "> 
                    <h5> Courtney Henry </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                         when an unknown printer took a galley of type and scrambled it
                          to make a type specimen book
                    </p>
                    <div class="item-icons">
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="item d-flex align-items-start p-3 p-lg-4 my-2">
                <div class="item-img  mx-2 "><img src="../../assets/images/Ellipse1.png"  class=" rounded-circle "> </div>
                <div class="item-content "> 
                    <h5> Courtney Henry </h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                         when an unknown printer took a galley of type and scrambled it
                          to make a type specimen book
                    </p>
                    <div class="item-icons">
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                        <i class="fa-solid fa-star mx-1"></i>
                    </div>
                    
                </div>

            </div>
        </div>

    </div> 
 </div>
</section> 