
<section id="home" class="">

  <div class="layer  position-absolute end-0 top-0 bottom-0">
    <div class="container py-5">
            <img src="../../assets/images/Group560.png" class="w-50" alt="">

        <div class="layer-content text-center p-5 mt-lg-5 mt-md-2">
            <span>lorem</span>
            <h5>lorem lorem</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                 Lorem Ipsum has been the industry's standard dummy text ever since the
            </p>
           <button class="btn rounded-pill text-white btn-lg  btn-style"> Help Me</button>  
        </div>

    </div> 
  </div> 

</section>

